*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/

# Python temporary scratch scripts
*.py

# Node.js server ignored
server/node_modules/
node_modules/
*.log
.env
