# Build and Cache
build/
**/build/
.gradle/
**/.gradle/
.kotlin/
**/.kotlin/
.idea/
**/.idea/
*.iml
**/*.iml
local.properties
/local.properties
.DS_Store
/captures
.externalNativeBuild
.cxx

# Archives & Binaries (>50MB/100MB blocked by GitHub)
*.zip
*.tar.gz
*.rar
*.7z
*.apk
*.aab

# Node.js & Web Admin
node_modules/
**/node_modules/
.next/
**/.next/
out/
**/out/

# Python temporary & bytecode
*.py
*.pyc
__pycache__/
**/__pycache__/

# Environment & Logs
*.log
.env
**/.env
