PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=stroller_db
DB_USER=postgres
DB_PASSWORD="your_postgres_password"
SMARTCART_AI_THRESHOLD=0.80
THINGSBOARD_URL=https://thingsboard.cloud
THINGSBOARD_DEVICE_TOKEN=""
THINGSBOARD_ENABLED=false
THINGSBOARD_SYNC_INTERVAL_SECONDS=5
BANK_SECRET_KEY=stroller_mock_bank_secret_2026_super_secure_key_x89f21
